version: "3.9"

services:
  auth:
    image: neha544/pms-auth-auth:latest
    container_name: auth
    env_file:
      - .env
    ports:
      - "8081:8081"
    restart: unless-stopped
    networks:
      - pms-network

networks:
  pms-network:
    external: true
