version: "3.9"

services:
  auth:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: auth
    env_file:
      - .env
    ports:
      - "8085:8081"
    restart: unless-stopped
    networks:
      - pms-network

networks:
  pms-network:
    external: true
