spring:
  application:
    name: auth

  datasource:
    url: jdbc:postgresql://${DB_HOST}:${DB_PORT}/${DB_NAME}
    username: ${DB_USERNAME}
    password: ${DB_PASSWORD}
    driver-class-name: ${DB_DRIVER}

  jpa:
    hibernate:
      ddl-auto: ${DB_DDL_AUTO}
    show-sql: ${DB_SHOW_SQL}
    properties:
      hibernate:
        dialect: ${DB_DIALECT}

server:
  port: ${SERVER_PORT:8081}
  forward-headers-strategy: framework

management:
  endpoints:
    web:
      exposure:
        include: health,info
  endpoint:
    health:
      show-details: always
